h1{font-family: 'Press Start 2P', cursive;
font-size:25;
}
body{
    background-color: #95b3e5;
}
button{
    color:white;
    background-color:black;
   font-family: 'Indie Flower', cursive;
   width:170px;
   height:70px;
   font-size:19;
}
h2{ 
    font-family: 'Pangolin', cursive;}
div{
    width:300px;
    height:200px;
    padding:30px;
    border:10px ;
    margin: 40PX;
    border-color; #b390db;}

https://i.ytimg.com/vi/BooEsbHD6SU/maxresdefault.jpg